.FormStyle {
    /* border: yellow solid 1px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 3rem;
}
h3{
    font-size: 2.25rem;
}
h1, h2, h3{
    color: whitesmoke;
    /* margin: 0; */
    font-family: 'Amatic SC', cursive;
    font-weight: 700;    

}

form {
    text-align: center;
    z-index: 1;
    width: 25rem;
}

.mb {
    margin-bottom: .8rem;
}

form .disp-col {
    display: flex;
    flex-direction: column;
    width: 25rem;

}

.input-username input{
    width: 22rem;
    margin-bottom: 1rem;
}

input,
button {
    padding: 18px 24px 18px 24px;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 0.938rem;    
}

form hr {
    border-color: #FF9E1C;
    margin-bottom: 1rem;
    height: 0.188;
}

form button {       
    background-color: #FF9E1C;
    color: whitesmoke;
}

form button:hover {
    background-color:  whitesmoke;
    color: #FF9E1C;
}

.bg-img {
    /* background-image: url("./images/F03_burger-background.jpg") ; */
    background-image: url("../../../images/F03_burger-background.jpg");
    filter: brightness(50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:  bottom;
    position: absolute;
    min-height: 100vh;
    width: 100%;
    z-index: -10;
}