@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
html{
    width: 100%;
    margin:0;
}
body {
    min-height: 70vh;
    width:auto/*1512px*/;/* 94.5rem */
   /* border: 1px solid pink; */
}

/* .bg-img{
    background-image: url("./images/F03_burger-background.jpg") ;
    filter: brightness(50%);
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    position: absolute;
    min-height: 100vh;
    width: 100%;
    z-index: -10;
} */

